<!--<image-upload-->
<!--[buttonCaption]="'Одбери слика'"-->
<!--[dropBoxMessage]="'Овде влечи и пушти!'"-->
<!--[max]="1"-->
<!--(onFileUploadFinish)="imageFinishedUploading($event)"-->
<!--(onRemove)="imageRemoved($event)"-->
<!--(isPending)="uploadStateChange($event)"-->
<!--&gt;</image-upload>-->
<div class="container" style="position: center">
  <div class="row">
    <select type="number" [(ngModel)]="levelNum" (ngModelChange)="selectLanguage()">
      <option *ngFor="let item of languages" [ngValue]="item.lang">{{item.name}}</option>
    </select>
    <button (click)="runOCR()">OCR</button>
    <button (click)="detectOCR()">DetectOCR</button>

    <button (click)="test()">test</button>
    <button (click)="test2()">test2</button>
    <button (click)="test3()">test3</button>
    <button (click)="scaleImg()">scale</button>


    <button (click)="testCanvas()">testCanvas</button>
    <button (click)="testCanvas1()">testCanvas1</button>
    <button (click)="testCanvas2()">testCanvas2</button>

    <img [src]="url"  #scannedImg><br/>
    <!--<img [src]="url"  #scannedImg id="scream" style="filter: grayscale(100%) contrast(200%) brightness(250%)">-->
    <input type='file' (change)="readUrl()" #File><br/>
    <!--<img src="../../assets/test_015.jpg" id="scream"> <br>-->

    <canvas #myCanvas></canvas><br/>



    {{levelNum}}




    <div>
      <h1 *ngIf="status != null">{{ status?.status}} : {{ status?.progress | percent: '1.0-0' }}</h1>
      <!--<div contenteditable="true">{{recognizedText}}</div>-->
      {{prepoznavanje}}
    </div>


    <!--<input [(ngModel)]="recognizedText">-->
    <textarea [(ngModel)]="recognizedText" rows="20" cols="150"></textarea>


  </div>
</div>
